<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>X&middot;Y&middot;L&middot;O&middot;P&middot;H&middot;O&middot;N&middot;I&middot;C&middot;A</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,500' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/6d9e80e972.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <h1>X &middot; Y &middot; L &middot; O &middot; P &middot; H &middot; O &middot; N &middot; I &middot; C &middot; A</h1>
  <h3>Use your keyboard (ASDF-JKL;) to play notes!</h3>
  <h3 class="tag-line">Press the record icon to capture your notes, the play icon to replay them, and the save icon to keep them!</h3>
</head>
<body>

<%= yield %>

</body>
</html>
